*{
    box-sizing: border-box;
    margin: 0 auto;
}
body{
    
    background-image: url('../img/bg.jpg');
}

.formulario{
    width: 600px;
    background-color: rgba(255, 255, 255, 0.3)
}
textarea{
    resize: none;
}
div.a{
display:inline;


}

div.b{
    display:inline;
    
    
    }

    div.a input{
color:white;
background-color: orange;
border-radius: 5px;
width:250px ;
height:30px ;
    }

    
    div.b input{
        color:white;
      color: orange;
      border-color:orange;
      border-radius: 5px;
      width:250px ;
      height:30px ;
            }

            